<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>


    <add name="DOCUMENTOS"
      connectionString="xGXUgtkzbM3dAaSOHfT9AS4IDv9PeKo6wHHm/t9gCBGrGVeY44jJzPdX+fTiSKlCWVjGao+AP6xdrmXjsbSEW4jJFwRiQtfvOtslWKQQ7o/JR4Kd1kvfFf+lumG7JiZGPuwhMqOy5hH+vqUAMsesqA=="
      providerName="System.Data.SqlClient" />
    
    <!--string qualipharm
      <add name="DOCUMENTOS"
      connectionString="xGXUgtkzbM3dAaSOHfT9AeZKAPeZZLAgTDKfREkaBkPgOjszgbhQ9T/otUqWYe5o/XAFT1Yib93xVpVhwLTBSbQe9pNWefb5SceZyPlLnYxIZvLiWlNa5oabALryxTE1"
      providerName="System.Data.SqlClient" />
      -->
  </connectionStrings>
</configuration>
